<%- include('./includes/head') %>
<%- include('./includes/navBar') %>
   
<section class="container">

      <div class="row align-items-center">
         <div class="col-2"></div>

         <div class="col-8 my-3">
            <h1 class="display-1 text-center fw-semibold">Agenda</h1>
            <p class="text-center lead fw-normal">Seus contatos</p>

            <div class="table-responsive">
               <table class="table table-striped">
                  <thead class="table-dark">
                     <tr>
                       <th scope="col">#</th>
                       <th scope="col">Nomes</th>
                       <th scope="col">Sobrenome</th>
                       <th scope="col">Cel</th>
                       <th scope="col">e-mail</th>
                     </tr>
                   </thead>
                   <tbody class="table-group-divider">
                     <tr>
                       <th scope="row">1</th>
                       <td>Mark</td>
                       <td>Otto</td>
                       <td>041 99736-6392</td>
                       <td>mdo@gmail.com</td>
                     </tr>
                     <tr>
                       <th scope="row">2</th>
                       <td>Jacob</td>
                       <td>Thornton</td>
                       <td>041 99736-6392</td>
                       <td>fat@gmail.com</td>
                     </tr>
                     <tr>
                       <th scope="row">3</th>
                       <td>Larry</td>
                       <td>The Bird</td>
                       <td>041 99736-6392</td>
                       <td>twitt@gmail.com</td>
                     </tr>
                   </tbody>
               </table>
            </div>

         </div>
         
      </div>
   </div>

</section>
  
<%- include('./includes/footer') %>
